.navbar {
  background-color: rgb(61, 61, 61);
  height: 55px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.navbar ul li {
  float: left;
  width: 24%;
  text-align: center;
  margin: 10px;
  padding: 10px;
  list-style: none;
}
.navbar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bolder;
  font-style: italic;
}
.navbar a:hover {
  color: red;
}

.Header h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
  text-shadow: 2px -1px 3px red;
}
.container {
  margin-top: 20px;
  margin: 1%;
  float: left;
  width: 23%;
  text-align: center;
}
.part {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.part .image img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: blue;
}

#logo {
  background-image: url(../images/image.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 20px;
  margin: 8px 70px 8px 0px;
}
