* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body {
  background-color: beige;
}
.Input-Button {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
input,
button {
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: large;
  border: 1px solid lightskyblue;
  background-color: white;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

input {
}
button {
  background-color: greenyellow;
  border-color: black;
}

ul,
li {
  font-size: large;
  font-weight: bold;
}

ul {
  border: 2px solid black;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.7);
  list-style: none;
  width: fit-content;
  margin: 2rem auto;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

li {
  margin: 1rem;
  color: white;
  text-align: center;
}

h3,
p {
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem;
}
p{
  font-size: large;
  font-weight: bold;
}
