body {
  position: relative;
}
table tr td,
table tr th {
  padding: 1rem;
}

table {
  border-collapse: collapse;
  text-align: center;
}

button {
  position: absolute;
  right: 50%;
  background-color: blue;
  color: white;
  padding: 1rem;
  border: white;
  cursor: pointer;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
p {
  font-size: large;
  text-transform: capitalize;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
