* {
    line-height: 1.6;
}
.Name ,.Information ,.linkedin {
    text-align: center;
}
#year {
    float: right;
    padding-right: 10px;
}
 h3,h4 {
    padding-left: 30px ;

 }
 p ,h5,span,ul {
    padding-left: 50px;
 }
 #one,#two {
    padding-left: 70px;
 }

 form {
   display: flex;
   justify-content: center;
 }
 label , input ,textarea,button {
    display:inline-block;
   
    
 }
 label {
    text-align: center;
    margin: auto;
    padding-block: 10px;

 }  
 input,textarea {
    margin: auto;
 }
 button {
   display: block;
    background-color: green;
    color: white;
    justify-self: center;
 }