*{
    background-color: antiquewhite;
}

.head {
    font-size: 16px;
    text-align: center;
    color: blue;
    font-weight: 600;
}

table, th,td {
    border: 2px solid black;
}

table {
    border-collapse: collapse;
    border-spacing: 15px;
}
th, td {
    padding: 15px;
}


