* {
    line-height: 1.6;
}
.Name ,.Information ,.linkedin {
    text-align: center;
}
#year {
    float: right;
    padding-right: 10px;
}
 h3,h4 {
    padding-left: 30px ;

 }
 p ,h5,span,ul {
    padding-left: 50px;
 }
 #one {
    padding-left: 70px;
 }