* {
    line-height: 1.6;
}
.Name ,.Information ,.linkedin {
    text-align: center;
}
#year {
    float: right;
    padding-right: 10px;
}
 h3,h4 {
    padding-left: 30px ;

 }
 p ,h5,span,ul {
    padding-left: 50px;
 }
 #one,#two {
    padding-left: 70px;
 }

 label , input ,textarea,button {
    display: block;
 }
 label {
    text-align: center;
    margin: auto;
 }  
 input,textarea,button {
    margin: auto;
 }
 button {
    background-color: green;
    color: white;
 }